.header{
    background-color:#5f3376 ;
    color: lightgray;
    display: flex;
    justify-content: center;
    position:relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList{
    display:flex;
    gap:40px;
    margin-bottom: 50px;
}

.headerListItem{
    display:flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc{
    margin:20px 0px;
}

.headerBtn{
    background-color: #c281a6;
    color: whitesmoke;
    font-weight: 500;
    border:none;
    padding: 10px;
    cursor: pointer;
}

.headerSearch{
    height: 30px;
    background-color: white;
    border: 3px solid rgba(215, 215, 101, 0.974);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.headerIcon{
    color:lightgray;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;   
}

.headerSearchInput{
    border: none;
    outline: none;
}

.headerSearchText{
    color: lightGray;
    cursor: pointer;
}