.navBar{
    height:50px;
    background-color: #5f3376;
    display:flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.elementListeNavbar {
    list-style: none; /* Uklanja tačkice iz liste */
    margin: 0;
    padding: 0;
 }
  
.elementListeNavbar a {
    text-decoration: none; /* Uklanja podvučenost od linkova */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #764290;
    }
}

.logo{
    font-weight: 500;
}

.navButton{
    margin-left:  20px;
    border:none;
    padding: 5px 10px;
    cursor: pointer;
    color: #563169;
}