.pList{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pListItem{
  flex:1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.pListImg{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pListTitles>h1{
  font-size: 18px;
  color: #444;
  text-transform: capitalize;
}

.pListTitles>h2{
  font-size: 14px;
  font-weight: 300;
}

.paginationButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButtons button {
  height: 40px;
  background-color: #007bff;
  margin-right: 10px;
  color: white;
  font-weight:500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.paginationButtons button:hover {
  background-color: #0056b3;
}

.paginationButtons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}